<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Salma2010.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="WordSectionGroup">
      <section name="WordSection" type="WordToTFS.ConfigHelpers.WordSection, WordToTFS"/>
      <section name="Word2007Section" type="WordToTFS.ConfigHelpers.WordSection, WordToTFS"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Salma2010.Properties.Settings>
      <setting name="ConnectionURLs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="SellectedConnectionUrl" serializeAs="String">
        <value/>
      </setting>
      <setting name="isFullVerion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isExpired" serializeAs="String">
        <value>False</value>
      </setting>
    </Salma2010.Properties.Settings>
  </userSettings>
  <WordSectionGroup>
    <WordSection>
      <images>
        <image key="Report" value="SparklineEditLocationAndData"/>
        <image key="AddDetails" value="InsertRow"/>
        <image key="AddNewWorkItem" value="NewComment"/>
        <image key="TraceabilityMatrix" value="GridlinesProject"/>
        <image key="LinkItems" value="GanttTaskLink"/>
        <image key="MyQueries" value="LastModifiedBy"/>
        <image key="TeamQueries" value="GroupAdminister"/>
        <image key="Folder" value="Folder"/>
        <image key="FlatView" value="FileDatabaseProperties"/>
        <image key="DirectView" value="DatasheetView"/>
        <image key="HierarchicalView" value="FieldsPaneShowHide"/>
        <image key="Activate" value="FunctionsTextInsertGallery"/>
        <image key="btnHelp" value="FunctionsLogicalInsertGallery"/>
        <image key="Help" value="Help"/>
        <image key="SyncConnectedTool" value="SyncConnectedTool"/>
        <image key="ShowCommentsMenu" value="ShowCommentsMenu"/>
        <image key="groupManageWI" value="GanttTaskNew"/>
        <image key="groupReporting" value="NewDocumentsTool"/>
        <image key="Connect" value="ConnectToServer"/>
      </images>
    </WordSection>
    <Word2007Section>
      <images>
        <image key="Report" value="GetExternalDataFromText"/>
        <image key="AddDetails" value="MasterDocumentShow"/>
        <image key="AddNewWorkItem" value="ReviewNewComment"/>
        <image key="TraceabilityMatrix" value="QueryCrosstab"/>
        <image key="LinkItems" value="DatabaseObjectDependencies"/>
        <image key="MyQueries" value="Head"/>
        <image key="TeamQueries" value="DesignXml"/>
        <image key="Folder" value="Folder"/>
        <image key="FlatView" value="FileDatabaseProperties"/>
        <image key="DirectView" value="FileManageMenu"/>
        <image key="HierarchicalView" value="SmartArtOrganizationChartRightHanging"/>
        <image key="Activate" value="FunctionsTextInsertGallery"/>
        <image key="btnHelp" value="FunctionsLogicalInsertGallery"/>
        <image key="Help" value="Help"/>
        <image key="SyncConnectedTool" value="SyncConnectedTool"/>
        <image key="ShowCommentsMenu" value="ShowCommentsMenu"/>
        <image key="groupManageWI" value="GanttTaskNew"/>
        <image key="groupReporting" value="NewDocumentsTool"/>
        <image key="Connect" value="ConnectToServer"/>
      </images>
    </Word2007Section>
  </WordSectionGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
